# Enforce code review by experts for each domain layer of Swish App

# Global owners
* @Muneeb7860

# Frontend Micro-Frontends
/frontend-host/ @Muneeb7860
/frontend-customer/ @Muneeb7860
/frontend-admin/ @Muneeb7860
/frontend-rider/ @Muneeb7860

# Backend Hexagonal Services
/backend/ @Muneeb7860
/bff/ @Muneeb7860

# Infrastructure & Kubernetes
/infrastructure/ @Muneeb7860
/k8s/ @Muneeb7860
/docker-compose.yml @Muneeb7860
